<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 th:text="#{penalty.penalty.title.modify}" class="h3 mb-4 text-gray-800">범칙금 수정</h1>

        <div class="row">

            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 th:text="#{penalty.penalty.modify}" class="m-0 font-weight-bold text-primary" >수정</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form id="frmPenaltyModify">
                                <input type="hidden" name="pymntId" th:value="${finePymntInfo.pymntId}">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="20%">
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="30%">

                                </colgroup>
                                <tbody>
                                <tr>
                                    <th th:text="#{penalty.penalty.number}">범칙금 번호</th>
                                    <td th:text="${finePymntInfo.pymntId}"></td>
                                    <th th:text="#{penalty.penalty.tfcEnfId}">단속번호</th>
                                    <td th:text="${finePymntInfo.tfcEnfId}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{enforcemnet.penalty.crDt}">등록일</th>
                                    <td th:text="${finePymntInfo.crDt}"></td>
                                    <th th:text="#{penalty.penalty.endDay}">마감일</th>
                                    <td><input type="date" class="form-control" id="txtPymntDdln" name="pymntDdln" th:value="${finePymntInfo.pymntDdln}" th:field="${finePymntInfo.pymntDdln}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{penalty.penalty.totalPrice}">금액</th>
                                    <td><input type="text" class="form-control" id="txtTotalPrice" name="totalPrice" th:value="${finePymntInfo.totalPrice}"></td>

                                    <th th:text="#{penalty.penalty.condition}">지불상태</th>
                                    <td>
                                        <input type="radio" id="txtPymntSttsY" name="pymntStts" value="Y" th:checked="${finePymntInfo.pymntStts} == 'Y'">
                                        <label th:text="#{penalty.penalty.condition.y}" for="txtPymntSttsY">완료</label>
                                        <input type="radio" id="txtPymntSttsN" name="pymntStts" value="N" th:checked="${finePymntInfo.pymntStts} == 'N'">
                                        <label th:text="#{penalty.penalty.condition.x}" for="txtPymntSttsN">미완료</label>
                                    </td>

                                </tr>
                                <tr>
                                    <th th:text="#{penalty.penalty.method}">납부방법</th>
                                    <td>
                                        <select class="form-control" name="pymntMethod">
                                            <th:block th:each="cd : ${cdList}">
                                                <option th:value="${cd.cdId}" th:text="${cd.cdNm}" th:selected="${finePymntInfo.pymntMethod == cd.cdId}"></option>
                                            </th:block>
                                        </select>

                                    </td>
                                    <th th:text="#{penalty.penalty.pymntOprtr}">납부담당자</th>
                                    <td><input type="text" class="form-control" id="txtPymntOprtr" name="pymntOprtr" th:value="${finePymntInfo.pymntOprtr}"></td>
                                </tr>
                                </tbody>
                            </table>
                            </form>
                            <button th:text="#{penalty.common.cancel}" type="button" id="btnGoList" class="btn btn-outline-secondary" onclick="javascript:window.history.back()">취소</button>
                            <button th:text="#{penalty.common.modiCom}" type="button" id="btnModify" class="btn btn-outline-success">수정완료</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>



</th:block>
</html>
<script th:inline="javascript">
    $("#btnModify").click(function () {


        if($.trim($("#txtPymntDdln").val())==''){
            alert("마감일을 입력해주세요.");
            $("#txtPymntDdln").focus();
            return false;
        }
        if($.trim($("#txtTotalPrice").val())==''){
            alert("금액을 입력해주세요.");
            $("#txtTotalPrice").focus();
            return false;
        }
        if($.trim($("#txtPymntOprtr").val())==''){
            alert("납부담당자를 입력해주세요.");
            $("#txtPymntOprtr").focus();
            return false;
        }


        $.ajax({
            url: /*[[@{/penalty/mngModifyAjax}]]*/ "/penalty/mngModifyAjax",
            type: "post",
            data: $("#frmPenaltyModify").serialize(),
            success: function(data){
                if(data.code == "1"){
                    alert("수정했습니다.");

                    var baseUrl = /*[[@{/penalty/mngDetail}]]*/ '';
                    window.location.href=baseUrl+"?pymntId="+[[${finePymntInfo.pymntId}]];

                }
            }
        });

    })


</script>